@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

html {
  font-size: 10px;
}
body {
  font-family: "Oleo Script Swash Caps", "Brush Script MT", "Brush Script Std",
    cursive;
  font-weight: 400;
}

.slider {
  background-color: #f0fff0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}
.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.slider__slides-switches {
  display: none;
  visibility: hidden;
}

.slider__slides {
  border: 0.1rem solid #f0fff0;
  border-radius: 3rem;
  overflow: hidden;
}

.slider__slides-overflow {
  width: 100%;
  overflow: hidden;
}
.slider__slides-images {
  display: flex;
  width: 400%;
  line-height: 0;
  max-height: 80vh;
  height: fit-content;
}
.slider__slide {
  width: 25%;
  transition: all 0.6s ease;
}
.slider__img {
  width: 100%;
  height: 100%;
}
.slider__footer {
}
.slider__footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8vh;
}
.slider__description {
}
.slider__description-overflow {
  width: 100%;
  overflow: hidden;
}
.slider__description-content {
  display: flex;
  width: 400%;
  max-height: 100%;
}
.slider__description-text {
  width: 25%;
  max-width: 25%;
  font-size: calc(25% + 2rem);
  color: #f4a460;
  transition: all 0.6s ease;
}
.slider__navigation {
  display: flex;
  column-gap: 2rem;
  align-self: baseline;
}
.slider__navigation-link {
  height: 1.5rem;
  width: 6rem;
  cursor: pointer;
  background-color: black;
  border-radius: 1rem;
  position: relative;
  opacity: 0.5;
  transition: all 0.4s ease;
}

.slider__navigation-link:hover {
  background-color: aqua !important;
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.slider__navigation-link:active {
  background-color: red !important;
  transition: all 0.4s ease;
}

.slider__navigation-link:nth-child(1)::after {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 8rem;
  height: 3.5rem;
  background: #e83474;
  opacity: 0;
}
.slider__navigation-link:nth-child(2)::after {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 8rem;
  height: 3.5rem;
  background: #e83474;
  opacity: 0;
}
.slider__navigation-link:nth-child(3)::after {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 8rem;
  height: 3.5rem;
  background: #e83474;
  opacity: 0;
}
.slider__navigation-link:nth-child(4)::after {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 8rem;
  height: 3.5rem;
  background: #e83474;
  opacity: 0;
}
#switch1:checked
  ~ .slider__main
  .container
  .slider__slides
  .slider__slides-overflow
  .slider__slides-images
  .target {
  margin-left: 0;
}
#switch2:checked
  ~ .slider__main
  .container
  .slider__slides
  .slider__slides-overflow
  .slider__slides-images
  .target {
  margin-left: -25%;
}
#switch3:checked
  ~ .slider__main
  .container
  .slider__slides
  .slider__slides-overflow
  .slider__slides-images
  .target {
  margin-left: -50%;
}
#switch4:checked
  ~ .slider__main
  .container
  .slider__slides
  .slider__slides-overflow
  .slider__slides-images
  .target {
  margin-left: -75%;
}

#switch1:checked
  ~ .slider__footer
  .container
  .slider__footer-inner
  .slider__description
  .slider__description-overflow
  .slider__description-content
  .goal {
  margin-left: 0;
}
#switch2:checked
  ~ .slider__footer
  .container
  .slider__footer-inner
  .slider__description
  .slider__description-overflow
  .slider__description-content
  .goal {
  margin-left: -25%;
}
#switch3:checked
  ~ .slider__footer
  .container
  .slider__footer-inner
  .slider__description
  .slider__description-overflow
  .slider__description-content
  .goal {
  margin-left: -50%;
}
#switch4:checked
  ~ .slider__footer
  .container
  .slider__footer-inner
  .slider__description
  .slider__description-overflow
  .slider__description-content
  .goal {
  margin-left: -75%;
}

#switch1:checked
  ~ .slider__footer
  .container
  .slider__footer-inner
  .slider__navigation
  .slider__navigation-link--active-1 {
  background-color: darkslateblue;
  transition: all 0.4s ease;
}
#switch2:checked
  ~ .slider__footer
  .container
  .slider__footer-inner
  .slider__navigation
  .slider__navigation-link--active-2 {
  background-color: darkslateblue;
  transition: all 0.4s ease;
}
#switch3:checked
  ~ .slider__footer
  .container
  .slider__footer-inner
  .slider__navigation
  .slider__navigation-link--active-3 {
  background-color: darkslateblue;
  transition: all 0.4s ease;
}

#switch4:checked
  ~ .slider__footer
  .container
  .slider__footer-inner
  .slider__navigation
  .slider__navigation-link--active-4 {
  background-color: darkslateblue;
  transition: all 0.4s ease;
}

@media screen and (max-width: 767px) {
  .slider__footer-inner {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .slider__description {
    order: 2;
  }
  .slider__navigation {
    display: flex;
    order: 1;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
}

@media screen and (max-width: 400px) {
  .slider__navigation-link {
    height: 1rem;
    width: 5rem;
  }
  .slider__navigation-link:nth-child(1)::after {
    left: -0.5rem;
    top: -0.75rem;
    width: 6rem;
    height: 2.5rem;
  }
  .slider__navigation-link:nth-child(2)::after {
    left: -0.5rem;
    top: -0.75rem;
    width: 6rem;
    height: 2.5rem;
  }
  .slider__navigation-link:nth-child(3)::after {
    left: -0.5rem;
    top: -0.75rem;
    width: 6rem;
    height: 2.5rem;
  }
  .slider__navigation-link:nth-child(4)::after {
    left: -0.5rem;
    top: -0.75rem;
    width: 6rem;
    height: 2.5rem;
  }
  .slider__description-text {
    font-size: calc(25% + 1.5rem);
  }
}
